<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="IE=edge">
  <meta http-equiv="content-script-type" content="text/javascript">
  
  <title>popHealth : An Open Source Quality Measure Reference Implementation</title>
  <link rel="shortcut icon" href="/favicon.ico"/>

  <%= stylesheet_link_tag "application", :media => "all" %>
  
  <%= csrf_meta_tag %>
  <%= yield :head %>

  <% if @definition %>
  <!-- TODO remove global variables; deal with state locally in a model/view -->
  <script type="text/javascript" charset="utf-8">
    currentMeasure = "<%= @definition['id'] %>";
    subMeasure = "<%= @definition['sub_id'] %>";
  </script>
  <% end %>
  
  <script type="text/javascript" charset="utf-8">
    rootContext = "<%= Rails.configuration.relative_url_root %>";
  </script>
</head>
<body>
  <header>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">THHT Nhom4</a>
        </div>
        <div>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#" style="margin-right: 30px;">Đăng nhập</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <div class="row">
    <div class="col-xs-2">
      <div id="menu">
        <div id="menu-item"><%= link_to "PopHealth", "http://localhost:3000/" %></div>
        <div id="menu-item"><%= link_to "HGraph của bạn", "http://localhost:8000/HGraph/examples/basic/" %></div>
        <div id="menu-item"><%= link_to "HGraph của mọi người", "http://localhost:8000/HGraph/examples/multiuser/" %></div>
      </div>
    </div>
    <div class="col-xs-10">
      <%= render :partial => 'shared/header' %>
 
      <div id="container" class="container"></div>
      <%= javascript_include_tag "application" %>
      <%= yield %>
    </div>
  </div>
  
</body>
</html>
